<ion-content>
  <div class=container>
    <div class="nomes">
      <h1 class="titulo">Alarme</h1>
      <div class="lista ion-text-center">
        <span *ngFor=" let dependente of usuarios">{{dependente.nome}} - </span>
        <span *ngFor="let remedio of remedios">{{remedio.nome}} </span>
      </div>
    </div>
    <div id="botoes">
      <ion-button (click)="confirmar()" class="confirma">
        <h3>Tomei</h3>
      </ion-button>

      <ion-button (click)="adiar()" [routerLink]="['/remedios' ,this.idUsuario]" class="adia">
        <h3>Adiar</h3>
      </ion-button>
    </div>
  </div>
</ion-content>
