<ion-content>
  <div class=container>
    <div class="nomes">
      <h1 class="titulo">Alarme</h1>
        <div class="ion-text-center" *ngFor="let remedio of remedios">
          <h2> {{remedio.nome}} </h2>
        </div>
    </div>
    <div id="botoes">
      <ion-button (click)="confirmar()" class="confirma">
        <h3>Tomei</h3>
      </ion-button>

      <ion-button (click)="adiar()" [routerLink]="['/remedios' ,this.idUsuario]" class="adia">
        <h3>Adiar</h3>
      </ion-button>
    </div>
  </div>
</ion-content>