ion-content {
  --background: linear-gradient(-270deg, #864988, #694490, #7270e6);


  ion-item.item-has-focus>ion-label {
    color: rgb(255, 255, 255) !important;
  }

  ion-item.ion-invalid>ion-label {
    color: rgb(255, 255, 255) !important;
  }

  ion-label {
    font-size: 1.3rem;
    font-weight: 700;
  }
}

ion-toolbar {
  --background: #131261;

  ion-back-button {
    --color: whitesmoke;
  }
}

.container {

  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: absolute;
  margin: auto;

  .item-label-stacked .sc-ion-input-md-h {
    --padding-start: 0.8rem;
  }

  .iniciais {
    display: flex;
    justify-content: space-evenly;
  }

  .proximos {
    display: flex;
    justify-content: space-evenly;
  }

  .horario {
    width: 10rem;
    ion-input {
      width: 5.5rem;
    }

    ion-label {
      font-size: 1.3rem;
      width: 12rem;
      max-width: none;
    }
  }

  .data {
    width: 12rem;
    ion-input {
      width: 7rem;
    }

    ion-label {
      font-size: 1.3rem;
      width: 10rem;
      max-width: none;
    }
  }

  .form-control {
    background-color: #131261;
    color: whitesmoke;
    margin-top: 0.5rem;
  }

  .formulario {
    background: rgba(33, 2, 82, 0.432);
    height: 90vh;
    max-height: 37.8rem;
  }

  .item {
    --background: rgba(255, 255, 255, 0);
    --border-style: none;
  }

  .action-button {
    display: flex;
    justify-content: center;

    .botaosubmit {
      margin-top: 0.8rem;
      --background: rgb(33, 11, 53);
      width: 50%;
      font-weight: bold;
    }
  }
}

h1 {
  font-size: 1.5rem;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;

}