<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/remedios"></ion-back-button>
    </ion-buttons>
    <h1>Adicionar Medicamento</h1>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <form class="formulario" [formGroup]="formGroup" (ngSubmit)="salvar()">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <input type="text" class="form-control border-0 shadow-none" formControlName="nome">
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <input type="text" class="form-control border-0 shadow-none" formControlName="descricao">
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Unidade</ion-label>
        <input type="text" class="form-control border-0 shadow-none" formControlName="unidade">
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dosagem</ion-label>
        <input type="number" class="form-control border-0 shadow-none" formControlName="dosagem">
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Quantidade de Dias</ion-label>
        <input type="number" class="form-control border-0 shadow-none" formControlName="quantDias">
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Intervalo (horas)</ion-label>
        <input type="number" class="form-control border-0 shadow-none" formControlName="intervalo">
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data de Inicio</ion-label>
        <input type="text" class="form-control border-0 shadow-none" formControlName="dtInicio" mask="d0/M0/0000">
      </ion-item>

      <!-- <ion-item>
        <ion-label position="stacked">Data Fim</ion-label>
        <input type="text" class="form-control border-0 shadow-none" formControlName="dtFim" mask="d0/M0/0000">
      </ion-item> -->

      <ion-item>
        <ion-label position="stacked">Horário de Inicio</ion-label>
        <ion-input type="time" class="form-control border-0 shadow-none" formControlName="horarioInicio"></ion-input>
      </ion-item>

      <div class="action-button">
        <ion-button class="botaosubmit" type="submit" expand="block" [disabled]="!formGroup.valid"
          routerLink="/remedios">Confirmar</ion-button>
      </div>
    </form>
  </div>
</ion-content>