
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/remedios"></ion-back-button>
    </ion-buttons>
    <h1>Adicionar Medicamento</h1>
  </ion-toolbar>
</ion-header>

<ion-content>

  

    <form [formGroup]="formGroup" (ngSubmit)="salvar()">
      <ion-item>
        <ion-label position="stacked">Nome</ion-label>
        <ion-input type="text" formControlName="nome"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Descrição</ion-label>
        <ion-input type="text" formControlName="descricao" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Unidade</ion-label>
        <ion-input type="text" formControlName="unidade" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Quantidade de Dias</ion-label>
        <ion-input type="text" formControlName="quantDias" ></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="stacked">Intervalo</ion-label>
        <ion-input type="text" formControlName="intervalo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dosagem</ion-label>
        <ion-input type="text" formControlName="dosagem" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data de Inicio</ion-label>
        <ion-input type="text" formControlName="dtInicio" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Data Fim</ion-label>
        <ion-input type="text" formControlName="dtFim" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Horário de Inicio</ion-label>
        <ion-input type="text" formControlName="horarioInicio" ></ion-input>
      </ion-item>

      <ion-button type="submit" expand="block" color="primary" [disabled]="!formGroup.valid" routerLink="/remedios">Confirmar</ion-button>
    </form>











</ion-content>
