

ion-toolbar{
  --background: #131261;
  ion-back-button{
      --color: whitesmoke;
  }
}

h1 {
  font-size: 2.2rem;
  color: white;
  text-align: center;

}
//.container{
 //   margin-top: -4.1rem;
//background-color: #D4D4F2;

//display: flex;
//flex-direction: column;
// align-items: center;
 //justify-content: center;
 //gap: 3rem;
 //height: 100vh;

 //background: linear-gradient(-45deg,#864988, #694490, #5250cd );
 // background-size: 400% 400%;
	//  animation: gradient 5s ease infinite;
    
 // .butao{
 //   width: 7.7rem;
  //  height: 3.7rem;
 //   margin-bottom: 1rem;
 //   margin-top: 51rem;
 //   margin-left: 17rem;
 // }

 .item-has-focus{
  --highlight-background: rgb(159, 73, 234);
  ion-label{color: rgb(159, 73, 234);
  }
}
