ion-toolbar{
  --background: #131261;
  ion-back-button{
      --color: whitesmoke;
  }
}

ion-content{
  --background: linear-gradient(-90deg,#864988, #694490, #5250cd );
}

.fundo{
  --background: rgba(255, 255, 255, 0.227);
  --border-style:none;
}

ion-list{
  --border-style:none;
  
}

.item{
  border-bottom:solid 1.5px rgba(255, 255, 255, 0.604);
  border-top:solid 1.5px rgba(255, 255, 255, 0.604);
}

.list-md{
  background: none;
  
}

h1 {
  font-size: 1.5rem;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.butao {
  width: 5.2rem;
  height: 5.2rem;
  --background: #131261;
}
