.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 100vw;

    background: linear-gradient(-90deg, #864988, #694490, #5250cd);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;


    h1 {
        font-size: 4.5rem;
        color: white;
        text-align: center;
        //margin-bottom: 1rem;
        // margin-bottom: 46rem;
    }

    h2{
        font-size: 2rem;
        color: white;
        text-align: center;
        margin-bottom: 2rem;
    }

    ion-button {
        width: 19rem;
        height: 5.5rem;
        --border-radius: 1rem;
    }
}



#botoes {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.botao {
    font-size: 1.7rem;
    font-weight: 600;
    --background: #131261;;

}

.sair {
    font-size: 1.5rem;
    font-weight: 600;
    --background: rgb(165, 22, 22);

}