<!-- <app-navbar></app-navbar> -->
<ion-content>

  <div class=container>

    
      <h1>Medivic</h1>
      

    <div id="botoes">
      <ion-button [routerLink]="['/remedios/', this.usuario.idUsuario]" class="botao" >Medicamentos</ion-button>
      <ion-button routerLink="/dependentes" class="botao">Dependentes</ion-button>
      <!-- <ion-button class="botao" >Cuidadores</ion-button> -->
      <ion-button   routerLink="/meu-perfil" class="botao" >Meu Perfil</ion-button>
      <ion-button class="sair" (click)=sair()>Sair</ion-button>
    </div>

  </div>
</ion-content>