@font-face {
    font-family: Inter;
    src:url(../assets//fonts//Inter-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src:url(../assets//fonts//Inter-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src:url(../assets//fonts//Inter-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: CenturyGothic;
    src:url(../assets//fonts//century-gothic/GOTHIC.TTF);
}

@font-face {
    font-family: CenturyGothic;
    src:url(../assets//fonts//century-gothic/GOTHICB.TTF);
    font-weight: 700;
}